footer {
	background-color: $color-contrast;
	color: #ffffff;
	text-align: center;

	.navigation {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;

		a {
			color: rgba(255, 255, 255, 0.6);
			font-weight: 700;
			&:hover {
				color: white;
			}
		}
	}

	.copyright {
		text-align: center;
		background-color: #673ab7;
		padding: 0.5rem 0;
	}
}

@media only screen and (min-width: 768px) {
	footer {
		text-align: left;
	}
}
